<div class="form-group add-note">
    <label>Title</label>
    <input type="text" id="titleTxt" name="Title" class="form-control" />
    <label>Write Content</label>
    <textarea class="form-control" id="contentTxt" name="Text" rows="4" cols="10" aria-label="With textarea" placeholder="Type here..."></textarea><br />
    <select id="colorDropDown" name="ColorId" size="1" class="form-control">
        <option value="0">Select Color</option>
        <option value="1">black</option>
        <option value="2">white</option>
        <option value="3">red</option>
        <option value="4">blue</option>
        <option value="5">green</option>
        <option value="6">yellow</option>
        <option value="7">purple</option>
        <option value="8">orange</option>
    </select><br />
    <input type="button" id="submitBtn" class="btn btn-success form-control" value="Add Note" />
</div>
