@model IEnumerable<HiringTest1.Models.ViewModels.NoteVM>

@{int count = 0; }

@foreach (var item in Model)
{
    if (count == 4)
    {
        <br />
        count = 0;
    }
    <div class="noteThumbnail">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @item.Title
                <div class="links-corner">
                    <a class="delete-link" href="#">
                        <span class="glyphicon glyphicon-trash pull-right"></span>
                    </a>
                    <a class="edit-link" href="#">
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">@item.Text</div>
            <div class="panel-footer">@item.Date</div>
        </div>
    </div>
    count++;
}

