@model IEnumerable<HiringTest1.Models.ViewModels.NoteVM>

@{
    ViewBag.Title = "Ajax Page";
}

<div class="container">
    <div class="row upperSection">
        <div class="col-md-2 hidden-xs"></div>
        <div class="col-md-8 col-sx-12">

            @Html.Partial("_AddNotePartial")


        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1 hidden-xs"></div>
        <div class="col-md-10 thumbContainer">
            @Html.Partial("_NoteThumbnailsPartial", Model)
        </div>
        <div class="col-md-1 hidden-xs"></div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="EditNoteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close pull-right" data-dismiss="modal">&times;</a>
                <h4>Edit Note</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_EditNotePartial")
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            //Adding Note
            $("#submitBtn").click(function () {
                var title = $("#titleTxt").val();
                var content = $("textarea#contentTxt").val();

                if (title == "" || content == "") {
                    toastr.info("Note title and Description are required.");
                } else {
                    var colorId = $("#colorDropDown").val();

                    if (colorId == 0) {
                        colorId = 1;
                    }

                    var url = "/Home/addNote";

                    var model = {
                        Title: title,
                        Text: content,
                        ColorId: colorId
                    };

                    $.post(url, { model: model }, function (data) {
                        toastr.success("Note is Added");
                        $(".container .thumbContainer").html(data);
                        $("#titleTxt").val("");
                        $("textarea#contentTxt").val("");
                        var colorId = $("#colorDropDown").val(0);

                    }).fail(function () {
                        toastr.error("Something went wrong, note was not added");
                    });
                }
                
            });

            //Delete Note
            //We had to link the event to document in order to make this event work for all dynamically added content!
            $(document).on("click", '.delete-link', function (e) {
                e.preventDefault();

                var id = $(this).data("id");
                var url = "/Home/DeleteNote";


                $.post(url, { id: id }, function (response) {
                    toastr.info("Note Delete");
                    $(".container .thumbContainer").html(response);

                }).fail(function () {
                    toastr.error("Something went wrong, note was not deleted");
                });;
            });

            //Edit Note - GET
            $(document).on("click", '.edit-link', function (e) {
                e.preventDefault();
                $("#EditNoteModal").modal("show");
                var id = $(this).data("id");

                var url = "/Home/EditNote/";

                $.getJSON(url, {id: id}, function (data) {
                    //alert("we got it: " + data.Title + data.Text + data.Text);
                    $(".modal-body #titleTxt").val(data.Title);
                    $(".modal-body textarea#contentTxt").val(data.Text);
                    $(".modal-body #colorDropDown").val(data.ColorId);
                });

                //Edit Post
                $(".modal-body #editBtn").click(function () {
                    var modalTitle = $(".modal-body #titleTxt").val();
                    var modalContent = $(".modal-body textarea#contentTxt").val();
                    //var colorId = $(".modal-body #colorDropDown").val();

                    if (modalTitle == "" || modalContent == "") {
                        toastr.info("Note title and Description are required.");
                    } else {
                        var colorId = $(".modal-body #colorDropDown").val();

                        if (colorId == 0) {
                            colorId = 1;
                        }

                        var url = "/Home/EditNote";

                        var model = {
                            Id: id,
                            Title: modalTitle,
                            Text: modalContent,
                            ColorId: colorId
                        };

                        $.post(url, { model: model }, function (data) {
                            toastr.success("Note is Edited");
                            setTimeout(function () {
                                location.href = "/Home/Index";
                            },2000);
                            //$(".container .thumbContainer").html(data);
                            //$("#titleTxt").val("");
                            //$("textarea#contentTxt").val("");
                            //var colorId = $("#colorDropDown").val(0);

                        }).fail(function () {
                            toastr.error("Something went wrong, note was not added");
                        });
                    }
                });
            });


        });
    </script>
}