@{
    ViewBag.Title = "Home Page";
}

<div class="upperSection">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 createNote text-center">
            @Html.Partial("_AddNotePartial")
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<hr />
<div class="lowerSection">
    <div class="row">
        <div class="col-md-12">
            Notes Thumbnails Go Here...
        </div>
    </div>
</div>